<h1>Create Person!</h1>
<a href="/">Home</a>

<form action="/create_person" method="post">
  <label>
    First Name
    <input type="text" name="person[first_name]">
  </label>
  <br>
  <label>
    Last Name
    <input type="text" name="person[last_name]">
  </label>
  <br>
  <input type="submit" value="Create Person">
</form>
